.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
  
img{
    width: 100px;
    height: 100px;
}
  
span{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

